@import "../bootstrap-4.3.1-dist/css/";

#intro {
    height: 100vh;
    width: 115%;
    background-image: url(images/statueofliberty.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#down-caret {
    width: 10%;
}
#down-caret:hover {
    width: 20%;
    transition-duration: 100ms;
}
#carousel-wrap {
    height: 100%;
}
#carousel-prev, #carousel-next {
    filter: invert(100%);
}
.carousel-pics {
    width: 50%;
    position: relative;
    left: 5%;
    overflow-x: auto;
}
table {
    margin: 5%;
}
td {
    border: 1px solid black;
}
tr th {
    text-align: center;
}
